

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>This is the primary content of the panel.</p>

</mat-expansion-panel>


<section class="laptop-component-main-div">
  <div class="laptop-components">
    <div class="laptop-components-relative">

        <div class="image-sizing" >
            <div class="images" >
              <div class="image-part">
              <div class="main-image"></div>
              <div class="sub-image sub-image-one">1</div>
              <div class="sub-image sub-image-two">2</div>
              <div class="sub-image sub-image-three">3</div>
              </div>
            </div>
        </div>

        <div class="laptop-data-part">
            <div class="info-laptop">Yeaccccccccch Fuck</div>
            <div class="info-laptop">GPU: Geforce gt650M</div>
            <div class="info-laptop">CPU:</div>
            <div class="info-laptop">RAM:</div>
            <div class="info-laptop">Year:</div>
            <div class="info-laptop">CPU:</div>
            <div class="info-laptop">Rate:</div>
            <div class="info-laptop">sssssssssssss:</div>
            <div class="info-laptop">CPU:</div>
            <div class="info-laptop">RAM</div>
            <div class="info-laptop">Year:</div>
            <div class="info-laptop">CPU:</div>
          <div class="info-laptop">Year:</div>
          <div class="info-laptop">CPU:</div>
        </div>
    </div>
  </div>
</section>

