.laptop-component-main-div{
  position: relative;
  width: 100%;
  flex-direction: row;
  display: flex;
  background-color: black;
  margin: 2px;
  padding: 2px;
  flex-wrap: wrap;
  flex-basis: auto;

  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  align-content: center;
  text-align-all: center;
}
/*.laptop-image-part {*/
  /*height: 32vh;*/
  /*position: relative;*/
  /*display: block;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  /*background-color: darkblue;*/
  /*text-align-all: center;*/
  /*justify-content: center;*/
  /*align-self: center;*/
  /*align-content: center;*/
  /*justify-items: center;*/
  /*justify-self: center;*/
  /*color: #fff;*/
  /*margin: 2px;*/
  /*padding: 2px;*/
/*}*/

.image-part {
  height: 33vh;
  margin: 5px;
  display: grid;
  grid-area: 1 / 1 / 2 /2;
  grid-template-columns: repeat(4, 10vh);
  grid-template-rows: repeat(3, 33%);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  text-align: center;
  padding: 2px;
  background-color: greenyellow;
  align-self: center;
}
.main-image {
  background-image: url("../../img/qww.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  grid-area: 1 / 1 / 4 /4;
  border: 1px solid black;
  background-color: white;

}
.sub-image {
  background-image: url("../../img/sss.jpg");

  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;

  background-position: center;

  border: 1px solid black;
}
.sub-image-one{
  /*grid-area: 1 / 4 / 2 /5;*/
  grid-area: 1 / 4 / 2 /5;

}
.sub-image-two{
  /*grid-area: 2 / 4 / 3 /5;*/
  grid-area: 2 / 4 / 3 /5;

}
.sub-image-three{
  /*grid-area: 3 / 4 / 4 /5;*/
  grid-area: 3 /4 / 4 /5;

}


.laptop-data-part {
  /*justify-items: center;*/
  /*justify-self: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*align-content: center;*/
  /*align-self: flex-start;*/
  /*text-align-all: left;*/
  display: flex;
  flex-direction: column;
  font-size: 13px;

  text-align-all: left;
  justify-content: flex-start;
  align-self: center;
  align-content: flex-start;
  justify-items: center;
  justify-self: center;
  flex-grow: 5;
  height: auto;
  flex-wrap: wrap;
  background-color: saddlebrown;
  margin: 5px;
}

.info-laptop{

  transition: all 500ms;

  min-height: 2vh;
  min-width: 30vw;
  height: 2vmin;
  padding: 2px 2px;
  margin: 2px 5px;
  color: #fff;
  border: 1px white solid;
  text-align: left;
  align-content: stretch;
  align-items: center;
  align-self: center;
  display: flex;
}

@media(min-width: 700px) {
  .image-part {
    height: 33vh;
    width: 100%;
    background-color: black;
  }
}
