<div class="my-header-component-style">
  <div class="main-div">

        <div class="logo-div"><a href="#">ANDRESKA</a></div>


      <div class="links-div">
        <ul>
          <li>
              <div class="svg-wrapper">
                <svg height="3em" width="120" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="3em" width="120" />
                </svg>
              </div>

              <div class="svg-wrapper">
                <a href="#">HOME</a>
              </div>

          </li>
          <li>
            <div class="svg-wrapper">
              <svg height="3em" width="120" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="3em" width="120"  />
              </svg>
            </div>

            <div class="svg-wrapper">
              <a href="#">ABOUT</a>
            </div>

          </li>

          <li>
            <div class="svg-wrapper">
              <svg height="3em" width="120" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="3em" width="120"  />
              </svg>
            </div>

            <div class="svg-wrapper">
              <a href="#">CONTACT</a>
            </div>
          </li>

        </ul>
      </div>
  </div>
</div>
